* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.leftBar {
    .container {
        padding: 20px;

        .menu {
            .user {
                img {}

                span {}

            }

            .item {
                img {}

                span {}
            }
        }
    }
}